<%- include('parts/header') %>

<div class="landing-page">
  <div class="overlay"></div>
  <div>
    <div class="container">
      <%- include('parts/navbar') %>
      <div class="landing">
        <h1 id="demo"></h1>
        <form>
          <input
            type="text"
            placeholder="&#x270e; البحث عن.. (قاعة-اكسسوارات-منظم حفلات) "
          />
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <section>
    <div class="halls">
      <div class="title">
        <h1>اعراس حقيقية</h1>
      </div>
      <div class="hall-container">
        <div class="hall-card">
          <div class="main-img">
            <img
              src="/wallpaperflare11.jpg"
              alt="/wallpaperflare11.jpg"
              id="expandedImg"
            />
            <div class="caption">
              <h4>قاعة حفلات</h4>
              <p>الليلة/195MAD</p>
            </div>
          </div>
          <div class="footer-imgs">
            <img
              src="/wallpaperflare1.jpg"
              alt=""
              onmouseover="showOnHover(this)"
              onmouseout="test()"
            />
            <img
              src="/wallpaperflare2.jpg"
              alt=""
              onmouseover="showOnHover(this)"
              onmouseout="test()"
            />
            <img
              src="/wallpaperflare3.jpg"
              alt=""
              onmouseover="showOnHover(this)"
              onmouseout="test()"
            />
          </div>
          <div class="hall-info">
            <h2><a href="">Lovely And Modern Apartment</a></h2>
            <p>S Main St, Los Angeles, CA90012 247</p>
            <p class="ctgr">قاعة حفلات</p>

            <ul>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="rate">Excellent</li>
            </ul>
          </div>
        </div>
        <div class="hall-card">
          <div class="main-img">
            <img
              src="/wallpaperflare12.jpg"
              alt="/wallpaperflare12.jpg"
              id="expandedImg2"
            />
            <div class="caption">
              <h4>قاعة حفلات</h4>
              <p>الليلة/195MAD</p>
            </div>
          </div>
          <div class="footer-imgs">
            <img
              src="/wallpaperflare1.jpg"
              alt=""
              onmouseover="showOnHover2(this)"
              onmouseout="test2()"
            />
            <img
              src="/wallpaperflare2.jpg"
              alt=""
              onmouseover="showOnHover2(this)"
              onmouseout="test2()"
            />
            <img
              src="/wallpaperflare3.jpg"
              alt=""
              onmouseover="showOnHover2(this)"
              onmouseout="test2()"
            />
          </div>
          <div class="hall-info">
            <h2><a href="">Villa Laarisa</a></h2>
            <p>En face du Golf Mongomerie l'aéroport، Marrakesh 40160</p>
            <p class="ctgr">قاعة حفلات</p>
            <ul class="tac">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star star-0"></li>
              <li class="rate">Good</li>
            </ul>
          </div>
        </div>
        <div class="hall-card">
          <div class="main-img">
            <img
              src="/wallpaperflare6.jpg"
              alt="/wallpaperflare6.jpg"
              id="expandedImg3"
            />
            <div class="caption">
              <h4>قاعة حفلات</h4>
              <p>الليلة/195MAD</p>
            </div>
          </div>
          <div class="footer-imgs">
            <img
              src="/wallpaperflare1.jpg"
              alt=""
              onmouseover="showOnHover3(this)"
              onmouseout="test3()"
            />
            <img
              src="/wallpaperflare2.jpg"
              alt=""
              onmouseover="showOnHover3(this)"
              onmouseout="test3()"
            />
            <img
              src="/wallpaperflare3.jpg"
              alt=""
              onmouseover="showOnHover3(this)"
              onmouseout="test3()"
            />
          </div>
          <div class="hall-info">
            <h2><a href="">Villa Laarisa</a></h2>
            <p>En face du Golf Mongomerie l'aéroport، Marrakesh 40160</p>
            <p class="ctgr">قاعة حفلات</p>
            <ul class="tac">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star star-0"></li>
              <li class="rate">Good</li>
            </ul>
          </div>
        </div>
        <div class="hall-card">
          <div class="main-img">
            <img
              src="/wallpaperflare9.jpg"
              alt="/wallpaperflare9.jpg"
              id="expandedImg4"
            />
            <div class="caption">
              <h4>قاعة حفلات</h4>
              <p>الليلة/195MAD</p>
            </div>
          </div>
          <div class="footer-imgs">
            <img
              src="/wallpaperflare1.jpg"
              alt=""
              onmouseover="showOnHover4(this)"
              onmouseout="test4()"
            />
            <img
              src="/wallpaperflare2.jpg"
              alt=""
              onmouseover="showOnHover4(this)"
              onmouseout="test4()"
            />
            <img
              src="/wallpaperflare3.jpg"
              alt=""
              onmouseover="showOnHover4(this)"
              onmouseout="test4()"
            />
          </div>
          <div class="hall-info">
            <h2><a href="">Georgeus Apartment</a></h2>
            <p>34th Ave, San Francisco, CA 94122 1499</p>
            <p class="ctgr">قاعة حفلات</p>
            <ul class="tac">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star star-0"></li>
              <li class="rate">Good</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mariage-btn">
        <a href="/"
          >انظر الى المزيد من الاعراس <i class="fa-solid fa-arrow-left-long"></i
        ></a>
      </div>
    </div>

    <div class="product">
      <div class="title">
        <h1>قاعات مختارة</h1>
      </div>
      <button class="pre-btn"><i class="fa-solid fa-chevron-right"></i></button>
      <button class="nxt-btn"><i class="fa-solid fa-chevron-right"></i></button>
      <div class="product-container">
        <div class="product-card">
          <div class="product-image">
            <a href=""
              ><img src="/wallpaperflare10.jpg" alt="" class="product-thumb"
            /></a>
            <div class="caption">
              <h4>قاعة حفلات</h4>
              <p>الليلة/195MAD</p>
            </div>
          </div>
          <div class="product-info">
            <h2><a href="">Lovely And Modern Apartment</a></h2>
            <p>S Main St, Los Angeles, CA90012 247</p>
            <p class="ctgr">قاعة حفلات</p>

            <ul>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="rate">Excellent</li>
            </ul>
          </div>
        </div>

        <div class="product-card">
          <div class="product-image">
            <a href=""
              ><img src="/wallpaperflare5.jpg" alt="" class="product-thumb"
            /></a>
            <div class="caption">
              <h4>قاعة حفلات</h4>
              <p>الليلة/195MAD</p>
            </div>
          </div>
          <div class="product-info">
            <h2><a href="">Georgeus Apartment</a></h2>
            <p>34th Ave, San Francisco, CA 94122 1499</p>
            <p class="ctgr">قاعة حفلات</p>
            <ul class="toe">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star star-0"></li>
              <li class="fa fa-star star-0"></li>
              <li class="rate">Average</li>
            </ul>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <a href=""
              ><img src="/wallpaperflare6.jpg" alt="" class="product-thumb"
            /></a>
            <div class="caption">
              <h4>قاعة حفلات</h4>
              <p>الليلة/195MAD</p>
            </div>
          </div>
          <div class="product-info">
            <h2><a href="">Villa Laarisa</a></h2>
            <p>En face du Golf Mongomerie l'aéroport، Marrakesh 40160</p>
            <p class="ctgr">قاعة حفلات</p>
            <ul class="tac">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star star-0"></li>
              <li class="rate">Good</li>
            </ul>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <a href=""
              ><img src="/wallpaperflare7.jpg" alt="" class="product-thumb"
            /></a>
            <div class="caption">
              <h4>قاعة حفلات</h4>
              <p>الليلة/195MAD</p>
            </div>
          </div>
          <div class="product-info">
            <h2><a href="">Georgeus Apartment</a></h2>
            <p>34th Ave, San Francisco, CA 94122 1499</p>
            <p class="ctgr">قاعة حفلات</p>
            <ul class="tac">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star star-0"></li>
              <li class="rate">Good</li>
            </ul>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <a href=""
              ><img src="/wallpaperflare8.jpg" alt="" class="product-thumb"
            /></a>
            <div class="caption">
              <h4>قاعة حفلات</h4>
              <p>الليلة/195MAD</p>
            </div>
          </div>
          <div class="product-info">
            <h2><a href="">Georgeus Apartment</a></h2>
            <p>34th Ave, San Francisco, CA 94122 1499</p>
            <p class="ctgr">قاعة حفلات</p>
            <ul class="tac">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star star-0"></li>
              <li class="rate">Good</li>
            </ul>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <a href=""
              ><img src="/wallpaperflare9.jpg" alt="" class="product-thumb"
            /></a>
            <div class="caption">
              <h4>قاعة حفلات</h4>
              <p>الليلة/195MAD</p>
            </div>
          </div>
          <div class="product-info">
            <h2><a href="">Georgeus Apartment</a></h2>
            <p>34th Ave, San Francisco, CA 94122 1499</p>
            <p class="ctgr">قاعة حفلات</p>
            <ul class="tac">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star star-0"></li>
              <li class="rate">Good</li>
            </ul>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <a href=""
              ><img src="/wallpaperflare12.jpg" alt="" class="product-thumb"
            /></a>
            <div class="caption">
              <h4>قاعة حفلات</h4>
              <p>الليلة/195MAD</p>
            </div>
          </div>
          <div class="product-info">
            <h2><a href="">Georgeus Apartment</a></h2>
            <p>34th Ave, San Francisco, CA 94122 1499</p>
            <p class="ctgr">قاعة حفلات</p>
            <ul class="tac">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star star-0"></li>
              <li class="rate">Good</li>
            </ul>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <a href=""
              ><img src="/wallpaperflare11.jpg" alt="" class="product-thumb"
            /></a>
            <div class="caption">
              <h4>قاعة حفلات</h4>
              <p>الليلة/195MAD</p>
            </div>
          </div>
          <div class="product-info">
            <h2><a href="">Georgeus Apartment</a></h2>
            <p>34th Ave, San Francisco, CA 94122 1499</p>
            <p class="ctgr">قاعة حفلات</p>
            <ul class="tac">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star star-0"></li>
              <li class="rate">Good</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mariage-btn">
        <a href="/"
          >انظر الى المزيد من الاعراس <i class="fa-solid fa-arrow-left-long"></i
        ></a>
      </div>
    </div>

    <div class="catalogues">
      <div class="catalogue">
        <span>لم تجدي فستانك المثالي بعد؟</span>
        <h2>كتالوج الفساتين</h2>
        <p>
          اكتشف أحدث الاتجاهات من أفضل مصممي فساتين الزفاف وبدلات العريس
          والإكسسوارات وأكثر من ذلك بكثير. <br />
          تصفح الكتالوج على الإنترنت!
        </p>
        <ul>
          <li onclick="showMRobes()">فستان الزفاف</li>
          <li onclick="showSuits()">بدلات العريس</li>
          <li onclick="showSRobes()">فساتين السهرة</li>
          <li onclick="showJewerly()">مجوهرات</li>
          <li onclick="showShoes()">أحذية</li>
          <li onclick="showLingerie()">الملابس الداخلية</li>
          <li onclick="showAccessories()">اكسسوارات</li>
        </ul>
        <div class="catalogue-btn">
          <a href="/"
            >انظر الى الكتالوج <i class="fa-solid fa-arrow-left-long"></i
          ></a>
        </div>
      </div>
      <div class="catalogue-slider">
        <button class="pre-btn" id="pre">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
        <button class="nxt-btn" id="nxt">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
        <div class="robes-container">
          <div class="robe-card first-robe">
            <div class="robe-image">
              <a href=""
                ><img src="/wallpaperflare10.jpg" alt="" class="robe-thumb"
              /></a>
            </div>
            <div class="robe-info">
              <h2>
                <a class="robe-inf" href="">Lovely And Modern Apartment</a>
              </h2>
            </div>
          </div>

          <div class="robe-card">
            <div class="robe-image">
              <a href=""
                ><img src="/wallpaperflare5.jpg" alt="" class="robe-thumb"
              /></a>
            </div>
            <div class="robe-info">
              <h2><a class="robe-inf" href="">Georgeus Apartment</a></h2>
            </div>
          </div>
          <div class="robe-card">
            <div class="robe-image">
              <a href=""
                ><img src="/wallpaperflare6.jpg" alt="" class="robe-thumb"
              /></a>
            </div>
            <div class="robe-info">
              <h2><a class="robe-inf" href="">Villa Laarisa</a></h2>
            </div>
          </div>
          <div class="robe-card">
            <div class="robe-image">
              <a href=""
                ><img src="/wallpaperflare7.jpg" alt="" class="robe-thumb"
              /></a>
            </div>
            <div class="robe-info">
              <h2><a class="robe-inf" href="">Georgeus Apartment</a></h2>
            </div>
          </div>
          <div class="robe-card">
            <div class="robe-image">
              <a href=""
                ><img src="/wallpaperflare8.jpg" alt="" class="robe-thumb"
              /></a>
            </div>
            <div class="robe-info">
              <h2><a class="robe-inf" href="">Georgeus Apartment</a></h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="honeymoon">
      <div class="honeymoon-header">
        <h2>تجول في جميع انحاء المغرب</h2>
        <p>استكشف المزيد من الأماكن التي نعتقد أنها ستنال إعجابك</p>
      </div>
      <div class="travel-tabs">
        <button class="tablinks" id="defaultOpen" onclick="openButton(event, 'hotels')">
          <i class="fa-solid fa-hotel"></i><span>فنادق</span> 
        </button>
        <button class="tablinks" onclick="openButton(event, 'restaurants')">
          <i class="fa-solid fa-utensils"></i><span>مطاعم</span>
        </button>
        <button class="tablinks" onclick="openButton(event, 'touristic-places')">
        <i class="fa-solid fa-location-crosshairs"></i> <span>اماكن سياحية</span>
        </button>
      </div>
      <div class="tabs-slider">
        <div id="hotels" class="tabcontent">
          <div class="hotels-slider">
            <button class="pre-btn" id="h-pre">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
            <button class="nxt-btn" id="h-nxt">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
            <div class="hotels-container">
              <div class="hotel-card first-hotel">
                <div class="hotel-image">
                  <a href=""
                    ><img src="/wallpaperflare10.jpg" alt="" class="hotel-thumb"
                  /></a>
                </div>
                <div class="hotel-info">
                  <h2>
                    <a class="hotel-inf" href="">Lovely And Modern Apartment</a>
                  </h2>
                </div>
              </div>

              <div class="hotel-card">
                <div class="hotel-image">
                  <a href=""
                    ><img src="/wallpaperflare5.jpg" alt="" class="hotel-thumb"
                  /></a>
                </div>
                <div class="hotel-info">
                  <h2><a class="hotel-inf" href="">Georgeus Apartment</a></h2>
                </div>
              </div>
              <div class="hotel-card">
                <div class="hotel-image">
                  <a href=""
                    ><img src="/wallpaperflare6.jpg" alt="" class="hotel-thumb"
                  /></a>
                </div>
                <div class="hotel-info">
                  <h2><a class="hotel-inf" href="">Villa Laarisa</a></h2>
                </div>
              </div>
              <div class="hotel-card">
                <div class="hotel-image">
                  <a href=""
                    ><img src="/wallpaperflare7.jpg" alt="" class="hotel-thumb"
                  /></a>
                </div>
                <div class="hotel-info">
                  <h2><a class="hotel-inf" href="">Georgeus Apartment</a></h2>
                </div>
              </div>
              <div class="hotel-card">
                <div class="hotel-image">
                  <a href=""
                    ><img src="/wallpaperflare8.jpg" alt="" class="hotel-thumb"
                  /></a>
                </div>
                <div class="hotel-info">
                  <h2><a class="hotel-inf" href="">Georgeus Apartment</a></h2>
                </div>
              </div>
              <div class="hotel-card">
                <div class="hotel-image">
                  <a href=""
                    ><img src="/wallpaperflare3.jpg" alt="" class="hotel-thumb"
                  /></a>
                </div>
                <div class="hotel-info">
                  <h2><a class="hotel-inf" href="">Georgeus Apartment</a></h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="restaurants" class="tabcontent">
          <div class="restaurants-slider">
            <button class="pre-btn" id="r-pre">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
            <button class="nxt-btn" id="r-nxt">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
            <div class="restaurants-container">
              <div class="restaurant-card first-restaurant">
                <div class="restaurant-image">
                  <a href=""
                    ><img src="/wallpaperflare10.jpg" alt="" class="restaurant-thumb"
                  /></a>
                </div>
                <div class="restaurant-info">
                  <h2>
                    <a class="restaurant-inf" href="">Lovely And Modern Apartment</a>
                  </h2>
                </div>
              </div>

              <div class="restaurant-card">
                <div class="restaurant-image">
                  <a href=""
                    ><img src="/wallpaperflare5.jpg" alt="" class="restaurant-thumb"
                  /></a>
                </div>
                <div class="restaurant-info">
                  <h2><a class="restaurant-inf" href="">Georgeus Apartment</a></h2>
                </div>
              </div>
              <div class="restaurant-card">
                <div class="restaurant-image">
                  <a href=""
                    ><img src="/wallpaperflare6.jpg" alt="" class="restaurant-thumb"
                  /></a>
                </div>
                <div class="restaurant-info">
                  <h2><a class="restaurant-inf" href="">Villa Laarisa</a></h2>
                </div>
              </div>
              <div class="restaurant-card">
                <div class="restaurant-image">
                  <a href=""
                    ><img src="/wallpaperflare7.jpg" alt="" class="restaurant-thumb"
                  /></a>
                </div>
                <div class="restaurant-info">
                  <h2><a class="restaurant-inf" href="">Georgeus Apartment</a></h2>
                </div>
              </div>
              <div class="restaurant-card">
                <div class="restaurant-image">
                  <a href=""
                    ><img src="/wallpaperflare8.jpg" alt="" class="restaurant-thumb"
                  /></a>
                </div>
                <div class="restaurant-info">
                  <h2><a class="restaurant-inf" href="">Georgeus Apartment</a></h2>
                </div>
              </div>
              <div class="restaurant-card">
                <div class="restaurant-image">
                  <a href=""
                    ><img src="/wallpaperflare3.jpg" alt="" class="restaurant-thumb"
                  /></a>
                </div>
                <div class="restaurant-info">
                  <h2><a class="restaurant-inf" href="">Georgeus Apartment</a></h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="touristic-places" class="tabcontent">
          <div class="places-slider">
            <button class="pre-btn" id="p-pre">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
            <button class="nxt-btn" id="p-nxt">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
            <div class="places-container">
              <div class="place-card first-place">
                <div class="place-image">
                  <a href=""
                    ><img src="/wallpaperflare10.jpg" alt="" class="place-thumb"
                  /></a>
                </div>
                <div class="place-info">
                  <h2>
                    <a class="place-inf" href="">Lovely And Modern Apartment</a>
                  </h2>
                </div>
              </div>

              <div class="place-card">
                <div class="place-image">
                  <a href=""
                    ><img src="/wallpaperflare5.jpg" alt="" class="place-thumb"
                  /></a>
                </div>
                <div class="place-info">
                  <h2><a class="place-inf" href="">Georgeus Apartment</a></h2>
                </div>
              </div>
              <div class="place-card">
                <div class="place-image">
                  <a href=""
                    ><img src="/wallpaperflare6.jpg" alt="" class="place-thumb"
                  /></a>
                </div>
                <div class="place-info">
                  <h2><a class="place-inf" href="">Villa Laarisa</a></h2>
                </div>
              </div>
              <div class="place-card">
                <div class="place-image">
                  <a href=""
                    ><img src="/wallpaperflare7.jpg" alt="" class="place-thumb"
                  /></a>
                </div>
                <div class="place-info">
                  <h2><a class="place-inf" href="">Georgeus Apartment</a></h2>
                </div>
              </div>
              <div class="place-card">
                <div class="place-image">
                  <a href=""
                    ><img src="/wallpaperflare8.jpg" alt="" class="place-thumb"
                  /></a>
                </div>
                <div class="place-info">
                  <h2><a class="place-inf" href="">Georgeus Apartment</a></h2>
                </div>
              </div>
              <div class="place-card">
                <div class="place-image">
                  <a href=""
                    ><img src="/wallpaperflare3.jpg" alt="" class="place-thumb"
                  /></a>
                </div>
                <div class="place-info">
                  <h2><a class="place-inf" href="">Georgeus Apartment</a></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('parts/footer') %>
