<%- include('parts/header') %> 
  <div class="login-page">
    <span class="overlay"></span>
    <div class="login">
      <div class="login-logo">
        <a href=""><img src="logo-os.png" alt="logo"></a>
      </div>
    </div>
  </div>
  <!-- <div class="login-logo">
    <a href=""><img src="logo-os.png" alt="logo"></a>
  </div> -->
  <!-- <a href="/auth/google"><button>signin with Google</button></a> -->
  <!-- <style>button {margin: 10px auto;padding: 15px;}</style> -->
<%- include('parts/footer') %> 
