<div class="topnav" id="myTopnav">
  <a class="icon" onclick="openNav()"
    ><i class="fa-solid fa-bars-staggered"></i
  ></a>
  <a class="logo" href=""><img src="/logo-os.png" alt="" /></a>
  <a href="#home" class="active">قاعات حفلات</a>
  <a href="#news">منظم حفلات</a>
  <div class="dropdown">
    <button class="dropbtn">
      أزياء وأكسسورات
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">فساتين أعراس</a>
      <a href="#">فساتين حفلات </a>
      <a href="#">بدلات</a>
      <a href="#">مجوهرات</a>
      <a href="#">احذية</a>
    </div>
  </div>
  <a href="#about">اوركسترا</a>
  <div class="dropdown">
    <button class="dropbtn">
      شهر العسل
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">فنادق</a>
      <a href="#">مطاعم</a>
      <a href="#">اماكن سياحية</a>
    </div>
  </div>
  <a class="login" href="/login">تسجيل الدخول</a>
  <a class="signup" href="/signup">تسجيل</a>
  <a id="test" class="userIcon" href=""><i class="fa-regular fa-user"></i></a>
</div>
<div id="mySidenav" class="sidenav">
  <!-- <button class="closebtn" onclick="closeNav()">
    <i class="fa fa-caret-down"></i>
  </button> -->
  <a href="#home" class="active">قاعات حفلات</a>
  <a href="#news">منظم حفلات</a>
  <div class="dropdown-b">
    <button class="dropbtn">
      أزياء وأكسسورات
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content-b">
      <a href="#">فساتين أعراس</a>
      <a href="#">فساتين حفلات </a>
      <a href="#">بدلات</a>
      <a href="#">مجوهرات</a>
      <a href="#">احذية</a>
    </div>
  </div>
  <a href="#about">اوركسترا</a>
  <div class="dropdown-b">
    <button class="dropbtn">
      شهر العسل
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content-b">
      <a href="#">فنادق</a>
      <a href="#">مطاعم</a>
      <a href="#">اماكن سياحية</a>
    </div>
  </div>
</div>
